@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap');  
*{font-family:"Poppins",sans-serif;color:white;overflow:hidden;}  
.main-container{height:100vh;background:linear-gradient(90deg,rgba(36,2,57,1)0%,rgba(110,0,0,1)54%,rgba(149,87,0,1)97%);}  
.search-box{border:1px solid rgba(255,255,255,0.3);padding:5px;border-radius:8px;}  
.search-box input{border:none;background:transparent;color:white;width:250px;}  
.search-box input::placeholder{color:white;}  
.search-box input:focus{outline:none;border-color:white;}  
.searchBtn{border:none;background:transparent;color:white;}  
.submain-container{padding:40px 15px;background-color:rgba(255,255,255,0.1);backdrop-filter:blur(30px);border-radius:10px;animation:fadeIn 0.5s ease-in-out;}  
.info{display:flex;justify-content:center;align-items:center;flex-direction:column;animation:slideIn 0.7s ease-in-out;}  
.info img{width:130px;}  
.icon i{font-size:30px;}  
.extra-info{font-size:14px;}  
.temp{font-size:32px;font-weight:bold;}  
.error-window{display:none!important;animation:fadeIn 0.5s ease-in-out;}  
#weather-window{display:block;animation:fadeIn 0.5s ease-in-out;}  
@keyframes fadeIn{0%{opacity:0;}100%{opacity:1;}}  
@keyframes slideIn{0%{transform:translateY(-30px);opacity:0;}100%{transform:translateY(0);opacity:1;}}
