@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Nova+Mono&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Poppins", serif;
    color: white;
    overflow-y: hidden;
}

.main-container {
    height: 100vh;
    background-image: url('Assets/bg7.jpg');
    background-size: cover;
    background-position: center center;
}

.search-box {
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px;
    border-radius: 8px;
}

.submain-container {
    padding: 40px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px) !important;
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in-out;
}

.search-box input {
    border: none !important;
    background: transparent !important;
    color: white !important;
    width: 250px;
}

.search-box input::placeholder {
    color: white;
}

.search-box input:focus {
    border-color: white !important;
    box-shadow: none !important;
}

.searchBtn {
    border: none;
    background: transparent;
    color: white;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: slideIn 0.7s ease-in-out;
}

.info img {
    width: 130px;
}

.icon i {
    font-size: 30px;
}

.extra-info {
    font-size: 14px;
}

.temp {
    font-size: 32px;
    font-weight: bold;
}

.error-window {
    display: none !important;
    animation: fadeIn 0.5s ease-in-out;
}

#weather-window {
    display: block;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideIn {
    0% { transform: translateY(-30px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
